* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: rgb(83, 83, 83);
  text-decoration: none;
  border-bottom: 2px solid white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__sub {
  font-size: 1.5rem;
  margin: 8rem auto 0.5rem auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-color: black;
  padding-top: 2px;
  padding-bottom: 2px;
}

.intro__hed {
  font-size: 2.5rem;
  margin: 1rem auto 0.5rem auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.intro__dek {
  color: #8a8a8a;
  margin: 2.5rem auto 0.5rem auto;
}

.intro__scroll {
  color: #000000;
  margin: 3rem auto 0.5rem auto;
  font-size: 1rem;
}

.intro__title {
  color: #000000;
  margin: 0rem auto 1rem auto;
  font-size: 1.7rem !important;
  font-weight: 600 !important;
}

#intro {
  margin-bottom: 50px;
}

.intro__categ {
  color: #000000;
  margin: 0rem 0rem 0rem 0rem;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

#outro {
  height: 640px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #000000 !important;
  color: white;
  position: relative;
  align-content: center;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #272727;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: rgb(0, 0, 0);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 320px;
  background-color: #ffffff;
  color: #464646 !important;
  text-align: center;
  border-radius: 6px;
  padding-left: 0%;
  padding-right: 0%;
  position: absolute;
  z-index: 1;
  bottom: 2%;
  margin-left: 0px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95px;
}
